# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
backend/.venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/
.vite/
.next/
frontend/node_modules/
frontend/dist/

# DB
*.db
*.sqlite
*.sqlite3

# OS / Editor
.DS_Store
.vscode/
.idea/

openapi.json
payload.json

# Logs
*.log'